
@font-face {
    font-family: Corben;
    font-style: normal;
    src: url("/assets/fonts/Corben-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/assets/fonts/Montserrat-Regular.ttf");
}

.site-name {
    font-family: Corben, Arial;
    font-weight: 300;
}

* {
    font-family: Montserrat, Arial;
    font-weight: 300;
}
