// showing default values
$accentColor = #51A4FB
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #51A4FB
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
